.text {
    font-size: 24px;
    -unity-text-outline-width: 4px;
    -unity-text-outline-color: rgba(255, 255, 255, 0.31);
}

.button {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    display: none;
}
